@import '_mixins.scss';

/** Global Styles for all Main HTML Tags **/

html,body {
  width: 100%;
  @include tablet {
  background: rgb(246,246,246);
  background: radial-gradient(circle, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 100%);
  }
  height:100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}

body {
  line-height: 1; 
}

ol, ul {
  list-style: none; 
}

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; 
  } 
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
}

h1 {
  @include font-size(2);
  text-transform: uppercase;
  font-family: $font-headline;
  margin-top: $global-margin;
  margin-bottom: $global-margin;
  color: $color-main;
  @include tablet {
    @include font-size(2);
  }
  @include desktop-small {
    @include font-size(3);
  }
  @include desktop-big {
    @include font-size(3);
  }
  &.white {
    color: $color-white;
  }
}

h2 {
  @include font-size(1.5);
  font-family: $font-headline;
  color: $color-main;
  @include tablet {
    @include font-size(1.5);
  }
  @include desktop-small {
    @include font-size(2);
  }
  @include desktop-big {
    @include font-size(2);
  }
  &.white {
    color: $color-white;
  }
}

h3 {
  @include font-size(1.25);
  font-family: $font-headline;
  color: $color-blue;
  @include tablet {
    @include font-size(1);
  }
  @include desktop-small {
    @include font-size(1.5);
  }
  @include desktop-big {
    @include font-size(1.5);
  }
}

p,span {
  @include font-size(1.1);
  line-height: 1.4rem;
  font-family: $font-text;
  font-weight: 300;
  margin: 1rem 0 1rem 0;
  color: $color-main;
  @include tablet {
    @include font-size(1);
    margin: 1.5rem 0 1.5rem 0;
  }
  @include desktop-small {
    @include font-size(1.2);
    margin: 1.5rem 0 1.5rem 0;
    line-height: 2rem;
  }
  @include desktop-big {
    @include font-size(1.2);
    margin: 1.8rem 0 1.8rem 0;
    line-height: 2rem;
  }
}

ul {
  @include font-size(1.5);
  line-height: 2rem;
  font-family: $font-text;
  color:$color-main;
  font-weight: 300;
  text-transform: uppercase;

  &.white {
    color: $color-white;
  }
}

a {
  color:$color-blue;
  text-decoration: none;
  cursor:pointer;

  &.link {
    &--navigation {
      color:$color-white;
    }
  }
}

img {
  width: 100%;
  overflow: hidden;
  }
picture {
  width: 100%;
  height: auto;
}
.nomargin {
  margin: 0;
} 
.marginbottom {
  margin-bottom: 1.5rem;
} 
.margintop {
  margin-top: 1.5rem;
} 
.fullmargin {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
} 
.white {
  color: $color-white;
}