

@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500|Oswald:300,400,600&display=swap');
//Fonts
$font-headline: 'Oswald', sans-serif;
$font-text: 'Dosis', sans-serif;
//Colors:
$color-main: #293e3d;
$color-text-primary: '';
$color-text-secondary: '';
$color-white: #fff;
$color-white-25: rgba(255,255,255,0.25);
$color-white-50: rgba(255,255,255,0.5);
$color-white-75: rgba(255,255,255,0.75);
$color-black: #ccc;
$color-blue: #41b5b2;


//Padding & Margin

$global-padding: 1.5rem;
$global-margin: 1.5rem;
